.formulario{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 2%;
}
.formulario div{
      display: flex;
      flex-direction: column;
      margin-top: 5%;
}
#Jvalidaciones{
      max-width: 14em;
}
h1{
      display: flex;
      justify-content: center;
      padding: 1%;
}
button, input{
      
      border-radius: 5px;
      border: 1px solid gray;
}
button{
      background-color: black;
      color: white;
}
p{
      height: 1px;
      margin-bottom: 20% ;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      font-size: 14px;

}.error1,.error2,.error3,.error4,.error5,.error6{
      display: none;
}.termino{
      margin-top: 10%;
}
.error{
      display: flex;
      color: red;
}
.incorrect{
      border: 1px solid red;
}
.correct{
      border: 1px solid rgb(3, 160, 3);
}
.uError{
      display:none;
}
.Perror{
      display:flex;   
      background-color: rgba(255, 0, 0, 0.589);
      height: 3em;
      color:white;
      display:flex;
      justify-content:center;
      align-items: center;
}
.exito{
      display:none;
}
.succes{
      display:flex;   
      background-color: rgba(0, 238, 99, 0.712);
      height: 3em;
      color:white;
      display:flex;
      justify-content:center;
      align-items: center;
}
a{
      text-decoration: none;
}
.ter{
      display:none;
     
}.mensaje{
      color:white;
      width: 30%;
      background-color: rgba(0, 0, 0, 0.466);
      margin-top: 20% !IMPORTANT;
      padding: 2%;
      border-radius: 5px;
}.mensaje p{
      font-size: 1.5em;
      height: 100%;
   
}
.cerrar p{
      font-size: 1.5em;
      color: white;
}
.abrir{
      position:absolute;
      height:100vh;
      width: 100vw;
      background-color: rgba(71, 69, 69, 0.753);
      display: flex;
      flex-direction: column;
      align-items: center;
}