/*TODO*//*1500px*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300&family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&family=Qwitcher+Grypen:wght@700&display=swap');
*{
      margin: 0%;
     font-family: 'Noto Sans Display', sans-serif;
}
.grid-container{
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(60, 1fr);
      grid-template-rows: repeat(60, 1fr);
} 

/*HEAD1*/
#cabeza{
      grid-column: 1/61;
      grid-row: 1/5;
      padding: 3%;
}
.cont1{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}
.cont1 img{
      width: 10%;
}
.cont1 h1{
      color: darkorange;
      margin-left: 1%;
      font-size: 2em;
}
.cont1 h1:hover{
      color: black;
      transition: 1s;
}

/*RETOS*/
#ejer{
      grid-column: 1/61;
      grid-row: 5/10;
}
.retos{
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      grid-gap: 5% !important;   
}
#ejer1, #ejer3, #ejer5{
      background-color: darkorange;
      color: white;
      height: 50%;
      width: 10%;
      font-size: 1.2em;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}#ejerF a{
      text-decoration: none;
      color: white;
}
#ejer2, #ejer4, #ejerF{
      background-color: black;
      color: white;
      height: 50%;
      width: 10%;
      font-size: 1.2em;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#ejer4:hover{
      color: darkorange;
      transition: 0.8s;
}
#ejer3:hover{
      color: #000;
      transition: 0.8s;
}
#ejer2:hover{
      color: darkorange;
      transition: 0.8s;
}
#ejer1:hover{
      color: #000;
      transition: 0.8s;
}
/*PESTAÑA RETOS*/
#pestana{
      grid-column: 1/61;
      grid-row: 10/60;
      background-color: rgba(78, 74, 74, 0.815);
      border: 5px solid rgb(255, 255, 255);
      
}
.tit {
      color: white;
      font-size: 2em;
}
.btn-dark{
      font-size: 1.2em !important;
      width: 8em !important;
}
/*MODAL1*/
.m1{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;   
}
.cambio1{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;   
}
.modal1{
      height: 80%;
      width: 80%;
      background-color: rgba(153, 153, 153, 0.596);
      border-radius: 15px;
}
.ret{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3%;
}
.texto{
      display: flex;
      flex-direction: column-reverse;
      margin-top: 5%;
      
}
#mayu, #pri{
      background-color: black;
      color: white;
      padding: 5%;
      font-size: 1em;
      margin-bottom: 5%;
      font-family: 'Noto Sans Display', sans-serif;
}
#longitud, #mini{
      margin-bottom: 5%;
      padding: 5%;
      background-color: darkorange;
      color: white;
      font-size: 1em;
      font-family: 'Noto Sans Display', sans-serif;
}#palabra{
      margin-bottom: 5%;
      margin-top: 2%;
      font-size: 1.3em;
      height: 2em;
      font-family: 'Noto Sans Display', sans-serif;
}label{
            margin-top: 2%;
            color: white;
            font-size: 1.3em;
            font-family: 'Noto Sans Display', sans-serif;
      
}
#close{
      
      margin-top: 3%;
      color: white;
      font-size: 2em;
} 
#close2, #close3, #close4, #close5{
      color: white;
      font-size: 2em;
}


/*MODAL2*/
.m2{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;   
}
.cambio2{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;   
}
.modal2{
      height: 80%;
      width: 80%;
      background-color: rgba(153, 153, 153, 0.596);
      border-radius: 15px;
}
#cal{
      margin-top: 5%;
}
.form-select{
      margin-top: 3%;
      width: 25% !important;
}
.form-control{
      margin-top: 5%;
      width: 25% !important;
}#close2{
      margin-top: 5%;
}
/*MODAL3*/
.m3{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;   
}
.modal3{
      height: 80%;
      width: 80%;
      background-color: rgba(153, 153, 153, 0.596);
      border-radius: 15px;
}
.cambio3{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;   
}
#lado1, #lado2, #lado3{
      margin-top: 1%;
}#close3{
      margin-top: 3%;
}#trig{
      margin-top: 3%;
}
/*MODAL4*/
.m4{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;   
}
.cambio4{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;   
}
.modal4{
      height: 80%;
      width: 80%;
      background-color: rgba(153, 153, 153, 0.596);
      border-radius: 15px;
}
#nombre, #apellido, #actividad{
      margin-top: 0.5%;
}
#close4{
      margin-top: 5% !important;
}
#respuesta{
      margin-top: 4%;
}
/*MODAL5*/
.m5{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;   
}
.cambio5{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;   
}
.modal5{
      height: 80%;
      width: 80%;
      background-color: rgba(153, 153, 153, 0.596);
      border-radius: 15px;
}
.opc{
      border: 1px solid white; 
      border-radius: 5px;
      margin-top: 1%;
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: rgba(72, 78, 83, 0.514);
      align-items: center;
      height: 2em;
}#cir, #tri, #rec, #cua, #are1, #per1{
      text-decoration: none;
      border: 1px solid white; 
      color: white;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}#cir:hover, #tri:hover, #rec:hover, #cua:hover, #are1:hover, #per1:hover, #are2:hover,#are3:hover,#are4:hover, #per2:hover, #per3:hover, #per4:hover{
      transition: 1s;
      background-color: rgba(109, 117, 117, 0.705);
      text-decoration: none;    
      color: black;
}
#are1, #per1, #are2,#are3,#are4, #per2, #per3, #per4{
      width: 100%;
      background-color: rgba(72, 78, 83, 0.514);
      color: white;
      border: 1px solid white; 
}
.opciones, .opciones2, .opciones3, .opciones4{
      margin-top: 1%;
      display: flex;
      width: 60%;
}
.op1{
      display: none;
}
.op2{
      display: none;
}
.op3{
      display: none;
}
.op4{
      display: none;
}
.mostrar{
      display: flex;
}
.tit5{
      font-size: 1.8em;
      color: aliceblue;
      margin-bottom: 2%;
}
#radio, #radio1{
      margin-bottom: 2%;
      margin-top: 1%;
}
.cirArea{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2%;
      width: 100%;
      display: none;
}
.cirPerimetro{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2%;
      width: 100%;
      display: none;
}
.show1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2%;
      width: 100%;
}
#Acirculo, #Pcirculo{
      margin-bottom: 3%;
}
.triArea{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2%;
      width: 100%;
      display: none;
}
.triPer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2%;
      width: 100%; 
      display: none;
}
.show2{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2%;
      width: 100%; 
}
#base1, #altura1{
      margin-top: 1%;
}
#Atriangulo{
      margin-top: 2%;

}#Ptriangulo{
      margin-top: 2%;
}#lad1, #lad2, #lad3, #lad4{
      margin-top: 1%;
}
.areaRec{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 3%;
      display: none;
}#basi, #alt,#basi2, #alt2{
      margin-top: 1%;
}#Arectangulo , #Prectangulo, #ArecCuadra, #PreCuadra{
      margin-top: 2%;
      margin-bottom: 2%;
}
.areaCua{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 3%;  
      display: none;
}
.show4{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 3%;
}
.periRec{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 3%;
      display: none;
}
.periCua{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 3%;  
      display: none;
}
.show3{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 3%;
}

/*MOVIL*/
@media screen and (min-width: 320px) and (max-width:450px) {
      .cont1 h1{
            display: none;
      }.cont1 img{
            width: 48%;
      }.cont1{
            padding:  5%;
      }.retos{
            margin-top: 5%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
      }#ejer1, #ejer2, #ejer3, #ejer4, #ejer5, #ejerF{
            width: 40%;
            height: 2em;
            font-size: 1em;
      }#ejer{
            grid-column: 1/61;
            grid-row: 5/15;
      }#pestana{
            grid-column: 1/61;
            grid-row: 18/61;
            background-color: rgba(78, 74, 74, 0.815);
            border: 5px solid rgb(255, 255, 255);          
      }.modal1, .modal2, .modal3,.modal4, .modal5{
            width: 100%;
            height: 90%;
      }.tit{
            font-size: 1.3em;
            text-align: center;
            margin-top: 2%;
      }.texto button{
            height: 3em;
            align-items: center;
            justify-content: center;
      }.texto label{
            font-size: 1.2em;
      }.ret{
            display: flex;
            flex-direction: column;
            align-items: center;
      }.ret .tit{
            margin-top: 5%;
            margin-bottom: 5%;
            font-size: 1.8em;
            text-align: center;
      }#grados, #inf{
            margin: 10%;
            width: 60% !important;
      }#lado1, #lado2, #lado3{
            margin-top: 2%;
            width: 70% !important;
      }#nombre, #apellido, #actividad{
            margin-top: 3%;
            width: 70% !important;
      }#respuesta{
            margin-top: 5%;
      }.opc{
            width: 100%;
            font-size: 0.9em;
            height: 2.5em;
      }#d{
            font-size: 1.5em;
      }.tit5{
            margin-top: 5%;
            font-size: 1.5em;
            margin-bottom: 5%;
      }#radio, #radio1, #base1, #altura1, #lad1, #lad2, 
      #lad3, #bas, #alt, #bas2, #alt2, #basi, #basi2{
            margin-top: 3%;
            margin-bottom: 10%;
            width: 60% !important;
      }#opciones2, #opciones, #opciones3, #opciones4{
            margin-top: 2%;
      }.modal5{
            height: 100%;
            width: 100%;
            border-radius: 0;
      }
}
@media screen and (min-width: 451px) and (max-width: 500px) {
      .cont1 img{
            width: 30%;
      }.cont1{
            padding:  5%;
            display: flex;
            align-items: center;
            justify-content: center;
      }.cont1 h1{
            font-size: 1.5em;
            color: black;
      }.retos{
            margin-top: 5%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
      }#ejer1, #ejer2, #ejer3, #ejer4, #ejer5, #ejerF{
            width: 35%;
            height: 2.5em;
            font-size: 1.2em;
      }#ejer{
            grid-column: 1/61;
            grid-row: 5/15;
      }#pestana{
            grid-column: 1/61;
            grid-row: 18/61;
            background-color: rgba(78, 74, 74, 0.815);
            border: 5px solid rgb(255, 255, 255);          
      }.modal1, .modal2, .modal3,.modal4, .modal5{
            width: 80%;
            height: 90%;
      }.tit{
            font-size: 1.3em;
            text-align: center;
            margin-top: 2%;
      }.texto button{
            height: 3.2em;
            align-items: center;
            justify-content: center;
      }.texto label{
            font-size: 1.2em;
      }.ret{
            display: flex;
            flex-direction: column;
            align-items: center;
      }.ret .tit{
            margin-top: 5%;
            margin-bottom: 5%;
            font-size: 1.8em;
            text-align: center;
      }#grados, #inf{
            margin: 8%;
            width: 60% !important;
      }#lado1, #lado2, #lado3{
            margin-top: 3%;
            margin-bottom: 5%;
            width: 70% !important;
      }#nombre, #apellido, #actividad{
            margin-top: 3%;
            margin-bottom: 5%;
            width: 70% !important;
      }#respuesta{
            margin-top: 8%;
      }.opc{
            width: 100%;
            font-size: 0.9em;
            height: 2.5em;
      }#d{
            font-size: 1.5em;
      }.tit5{
            margin-top: 5%;
            font-size: 1.5em;
            margin-bottom: 5%;
      }#radio, #radio1, #base1, #altura1, #lad1, #lad2, 
      #lad3, #bas, #alt, #bas2, #alt2, #basi, #basi2{
            margin-top: 1%;
            margin-bottom: 9%;
            width: 40% !important;
      }#opciones2, #opciones, #opciones3, #opciones4{
            margin-top: 2%;
      }#modal5{
            height: 100%;
            width: 100%;
            border-radius: 0;
      }
}
@media screen and (min-width: 501px) and (max-width:720px) {
      .cont1 img{
            width: 30%;
      }.cont1{
            padding:  5%;
            display: flex;
            align-items: center;
            justify-content: center;
      }.cont1 h1{
            font-size: 1.5em;
            color: black;
      }.retos{
            margin-top: 5%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
      }#ejer1, #ejer2, #ejer3, #ejer4, #ejer5, #ejerF{
            width: 35%;
            height: 2.5em;
            font-size: 1.2em;
      }#ejer{
            grid-column: 1/61;
            grid-row: 5/15;
      }#pestana{
            grid-column: 1/61;
            grid-row: 18/61;
            background-color: rgba(78, 74, 74, 0.815);
            border: 5px solid rgb(255, 255, 255);          
      }.modal1, .modal2, .modal3,.modal4, .modal5{
            width: 80%;
            height: 90%;
      }.tit{
            font-size: 1.3em;
            text-align: center;
            margin-top: 2%;
      }.texto button{
            height: 3.2em;
            align-items: center;
            justify-content: center;
      }.texto label{
            font-size: 1.2em;
      }.ret{
            display: flex;
            flex-direction: column;
            align-items: center;
      }.ret .tit{
            margin-top: 5%;
            margin-bottom: 5%;
            font-size: 1.8em;
            text-align: center;
      }#grados, #inf{
            margin: 8%;
            width: 60% !important;
      }#lado1, #lado2, #lado3{
            margin-top: 3%;
            margin-bottom: 5%;
            width: 70% !important;
      }#nombre, #apellido, #actividad{
            margin-top: 3%;
            margin-bottom: 5%;
            width: 70% !important;
      }#respuesta{
            margin-top: 8%;
      }.opc{
            width: 100%;
            font-size: 0.9em;
            height: 2.5em;
      }#d{
            font-size: 1.5em;
      }.tit5{
            margin-top: 5%;
            font-size: 1.5em;
            margin-bottom: 5%;
      }#radio, #radio1, #base1, #altura1, #bas, #alt, #bas2, #alt2, #basi, #basi2{
            margin-top: 1%;
            margin-bottom: 10%;
            width: 40% !important;
      }#lad1, #lad2,  #lad3{
            width: 40% !important;
            margin-top: 1%;
            margin-bottom: 1%;
      }
            #opciones2, #opciones, #opciones3, #opciones4{
            margin-top: 2%;
      }#modal5{
            height: 100%;
            width: 100%;
            border-radius: 0;
      }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
      #ejer1, #ejer2, #ejer3, #ejer4, #ejer5, #ejerF{
            width: 12%;
            height: 2em;
            font-size: 1em;
      }#ejer{
            grid-column: 1/61;
            grid-row: 10/12;
      }#pestana{
            grid-column: 1/61;
            grid-row: 15/61;
            background-color: rgba(78, 74, 74, 0.815);
            border: 5px solid rgb(255, 255, 255);          
      }#cabeza{
            grid-column: 1/61;
            grid-row: 2/7;
            padding: 3%;
      }.cont1 h1{
            color: #000;
      }.cont1 img{
            width: 20%;
      }.ret .tit{
            margin-top: 10%;
            margin-bottom: 3%;
            font-size: 2em;
            text-align: center;
      }#grados, #inf{
            margin: 5%;
            width: 45% !important;
      }#radio, #radio1, #base1, #altura1, #bas, #alt, #bas2, #alt2, #basi, #basi2{      
            width: 40% !important;
      }#lad1, #lad2,  #lad3{
            width: 40% !important;
            margin-top: 1%;
            margin-bottom: 1%;
      }#opciones2, #opciones, #opciones3, #opciones4{
            margin-top: 2%;
      }#modal5, #modal4, #modal3{
            height: 100%;
            width: 100%;
            border-radius: 0;
      }#lado1, #lado2, #lado3{
            margin-top: 3%;
            margin-bottom: 2%;
            width: 40% !important;
      }#nombre, #apellido, #actividad{
            margin-top: 1%;
            margin-bottom: 5%;
            width: 45% !important;
      }#respuesta{
            margin-top: 5%;
      }.opc{
            width: 100%;
            height: 3em;
      }#d{
            margin-top: 2%;
      }.opciones, .opciones2, .opciones3, .opciones4{
            height: 2.5em;       
      }.modal1 .ret{
            padding: 0%;
            margin-top: -5%;
      }.modal3 .ret{
            padding: 0%;
            margin-top: -5%;
      } .modal4 .ret{
            padding: 0%;
            margin-top: -5%;
      } 
}